.voting-element {
  width: 100%;
  display: grid;
  grid-template-rows: 8% 4fr;
  border-radius: 7px;
  margin-top: 20px;
  -webkit-box-shadow: 4px 4px 15px 2px rgba(34, 60, 80, 0.09);
  -moz-box-shadow: 4px 4px 15px 2px rgba(34, 60, 80, 0.09);
  box-shadow: 4px 4px 15px 2px rgba(34, 60, 80, 0.2);
  font-family: "Open Sans", sans-serif;
}

.voting-element-header {
  grid-row: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 5px;
  min-height: 50px;
}

.voting-element-header-button {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.voting-element-action-button {
  height: 80%;
  width: 80%;
  color: white;
  border-radius: 10px;
  align-content: center;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.voting-element-header-add-lot-button {
  background-color: rgb(62, 196, 160);
}

.voting-element-header-add-lot-button:hover {
  background-color: rgb(118, 194, 173);
}

.voting-element-header-rm-voting-button {
  background-color: #f55252;
}

.voting-element-header-rm-voting-button:hover {
  background-color: #ee6a6a;
}

.voting-element-empty-lots-block {
  width: 100%;
  height: 100%;
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20pt;
}

.voting-element-lots-block {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
}

.voting-element-body {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  padding-bottom: 0;
}

.voting-element-lots-table {
  width: 100%;
  margin: 10px 3px 3px 3px;
  border: 1px solid #dddddd;
  border-collapse: collapse;
}
.voting-element-lots-table th {
  font-weight: bold;
  font-size: 15pt;
  padding: 5px;
  background-color: rgb(62, 196, 160);
  border: 1px solid #dddddd;
  color: white;
}
.voting-element-lots-table td {
  border: 1px solid #dddddd;
  font-size: 12pt;
}

.voting-element-lots-table-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.voting-element-lots-table-rm-button {
  width: 70%;
  height: 70%;
  font-size: 12pt;
  color: white;
  background-color: #f55252;
}

.voting-element-lots-table-rm-button:hover {
  background-color: #ee6a6a;
}